@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
  --fonte-poppins: 'Poppins', sans-serif;
  --fonte-russo-one: 'Russo One', sans-serif;
  --cor-branco: #F6F6F6F6;
  --cor-background-light: #EAE2B7;
  --cor-bbackground-dark: #343228;
  --cor-vermelho: #D80032;
}

.container {
  height: 100%;
}