@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
  --fonte-poppins: 'Poppins', sans-serif;
  --cor-branco: #F6F6F6F6;
}

.container {
  height: 100vh;
}