.header {
    background-color: #D80032;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    align-self: center;
    margin-right: 10px;
}

.logo img {
    width: 30px;
    height: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.buttons .button {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 10px;
}

.buttons .button:last-child {
    margin-right: 0;
}

.buttons button {
    background-color: transparent;
    cursor: pointer;
}

.buttons .button {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.buttons .button:hover {
    color: #ccc;
    animation: animate 0.5s ease-in-out;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 68px;
    padding: 65px;
    top:0;
    padding-top: 180px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--fonte-poppins);
    color: var(--cor-branco);
    gap: 320px;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card_titulo {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    text-shadow: 3px 3px 15px #000000;
}

.card_rodape button{
    background: none;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card_rodape button:hover {
    transform: scale(1.1);
}


.card_rodape {
    display: flex;
    flex-direction: row;
    gap: 175px;
    padding: 0 15px;
    text-decoration: none;
    font-family: var(--fonte-poppins);
    color: var(--cor-branco);
}

.card_rodape a {
    color: var(--cor-branco);
    font-family: var(--fonte-poppins);
    font-size: 22px;
    text-decoration: underline;
    text-shadow: 3px 3px 15px #000000;
    transition: transform 0.2s ease-in-out;
}

.card_rodape a:hover {
    transform: scale(1.1);
}

.card_rodape_editar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}