.card-post {
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.fields {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}



